<mat-card>
    <mat-card-header>Expensa</mat-card-header>
    <mat-list>
        <mat-list-item>
            <span class="deep-purple">Número:</span> {{expensa.id}}
        </mat-list-item>
        <mat-list-item>
            <span class="deep-purple">Importe:</span> {{expensa.importe}}
        </mat-list-item>
        <mat-list-item>
            <span class="deep-purple">Emisión:</span> {{expensa.emision}}
        </mat-list-item>
        <mat-list-item>
            <span class="deep-purple">Vencimiento:</span> {{expensa.vencimiento}}
        </mat-list-item>
        <mat-list-item>
            <span class="deep-purple">Estado:</span> {{expensa.pago}}
        </mat-list-item>
    </mat-list>
</mat-card>
