<div class="container-full flex-column">
    <app-loader-shade [errorMessage]="error" [isLoadingResults]="tableLoading"></app-loader-shade>
    <table mat-table [dataSource]="data" class="background-grey-light">
        <ng-container matColumnDef="unidad_id">
            <th mat-header-cell *matHeaderCellDef>Unidad</th>
            <td mat-cell *matCellDef="let element">
                {{element.unidad_id}}</td>
        </ng-container>
        <ng-container matColumnDef="emision">
            <th mat-header-cell *matHeaderCellDef>Emisión</th>
            <td mat-cell *matCellDef="let element"> {{element.emision}}</td>
        </ng-container>
        <ng-container matColumnDef="vencimiento">
            <th mat-header-cell *matHeaderCellDef>Vencimiento</th>
            <td mat-cell *matCellDef="let element">
                {{element.vencimiento}}
            </td>
        </ng-container>
        <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef>Estado</th>
            <td mat-cell *matCellDef="let element">
                {{element.estado}}
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas;" (click)="show(row)" class="clickable"></tr>
    </table>
    <mat-paginator [length]="resultLenght"  [pageSize]="pageSize" [showFirstLastButtons]="true"></mat-paginator>
</div>
