@import '~@angular/material/theming';

.clickable {
    transition-duration: 0.4s;
    cursor: pointer !important;
    td {
        transition-duration: 0.4s;
    }
}

.clickable:hover {
    td {
        color: mat-color($mat-teal, 50);
    }
}
