.container-full {
    width: 100%;
    display: flex;
    align-content: center;
}

.subpage-container-full {
    margin-top: 60px;
    width: 95vw;
}


table {
    width: 100%
}


.table-10-rows {
    min-height: 500px;
}

