.flex {
    display: flex;
}

.space-between {
    align-content: space-between;
}

.margin-auto {
    margin: auto;
}

.flex-flow-row {
    display: flex;
    flex-flow: row wrap;
}

.button-row {
    button, a {
        margin-right: 8px;
    }
}
