<mat-card-title>Alta de Unidad</mat-card-title>
<form [formGroup]="unidadForm" *ngIf="unidadForm" class="flex flex-column">
    <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombre" formControlName="nombre">
        <mat-error
            *ngIf="!unidadForm.get('nombre').valid && (unidadForm.get('nombre').dirty || unidadForm.get('nombre').touched)">
            Debes escribir un nombre
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Direccion</mat-label>
        <input matInput placeholder="Dirección" formControlName="direccion">
        <mat-error
            *ngIf="!unidadForm.get('direccion').valid && (unidadForm.get('direccion').dirty || unidadForm.get('direccion').touched)">
            Debes escribir una dirección
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Localidad</mat-label>
        <input matInput placeholder="Localidad" formControlName="localidad">
        <mat-error
            *ngIf="!unidadForm.get('localidad').valid && (unidadForm.get('localidad').dirty || unidadForm.get('localidad').touched)">
            Debes escribir una localidad
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Provincia</mat-label>
        <input matInput placeholder="Provincia" formControlName="provincia">
        <mat-error
            *ngIf="!unidadForm.get('provincia').valid && (unidadForm.get('provincia').dirty || unidadForm.get('provincia').touched)">
            Debes escribir una Provincia
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Consorcio</mat-label>
        <input matInput placeholder="Consorcio ID" formControlName="consorcio_id" type="number">
        <mat-error
            *ngIf="!unidadForm.get('consorcio_id').valid && (unidadForm.get('consorcio_id').dirty || unidadForm.get('consorcio_id').touched)">
            Debes escribir un número de ID de una localidad
        </mat-error>
    </mat-form-field>
    <button mat-raised-button [disabled]="!unidadForm.valid" color="primary" (click)="setLogin()">Crear</button>
    <mat-error *ngIf="accessError">{{accessErrorText}}
    </mat-error>
</form>
