@import '~@angular/material/theming';

.navbar-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 16px;
    background:  map_get($mat-teal, 800);;

    > .mat-button {
        color: white;
        font-weight: 500;
        &:last-child {
            margin-left: auto;
        }
    }
}
