<mat-panel-title>{{title}}</mat-panel-title>
<div class="container-full flex-column">
    <table mat-table [dataSource]="data">
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}}</td>
        </ng-container>
        <ng-container matColumnDef="direccion">
            <th mat-header-cell *matHeaderCellDef>Dirección</th>
            <td mat-cell *matCellDef="let element"> {{element.direccion}}</td>
        </ng-container>
        <ng-container matColumnDef="localidad">
            <th mat-header-cell *matHeaderCellDef>Localidad</th>
            <td mat-cell *matCellDef="let element">
                {{element.localidad}}
            </td>
        </ng-container>
        <ng-container matColumnDef="provincia">
            <th mat-header-cell *matHeaderCellDef>Provincia</th>
            <td mat-cell *matCellDef="let element">
                {{element.provincia}}
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas;" (click)="create(row)"></tr>
    </table>
    <mat-paginator [length]="resultLenght" [showFirstLastButtons]="true" [pageSize]="localPageSize"></mat-paginator>
</div>
