<form [formGroup]="loginForm" *ngIf="loginForm" class="flex flex-column background-gray-light-contrast">
    <mat-form-field>
        <mat-label>Usuario</mat-label>
        <input matInput placeholder="Email" formControlName="usuario">
        <mat-error
            *ngIf="!loginForm.get('usuario').valid && (loginForm.get('usuario').dirty || loginForm.get('usuario').touched)">
            Debes completar tu correo
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input matInput placeholder="UnAContrAseñ@" formControlName="password" type="password">
        <mat-error
            *ngIf="!loginForm.get('password').valid && (loginForm.get('password').dirty || loginForm.get('password').touched)">
            Tu contraseña debe ser superior a 6 caracteres
        </mat-error>
    </mat-form-field>
    <div class="button-row">
        <button mat-flat-button #iniciarSesion [disabled]="!loginForm.valid" color="primary" (click)="setLogin(iniciarSesion)"
                class="inline-buttons">
            Iniciar Sesión
        </button>
    </div>
    <mat-error *ngIf="accessError">{{accessErrorText}}
    </mat-error>
</form>
